@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 21%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 21%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 44%;
    --primary: 150 67% 47%;
    --primary-foreground: 163 24% 20%;
    --secondary: 0 0% 99%;
    --secondary-foreground: 0 0% 21%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 24%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 24%;
    --destructive: 15 58% 45%;
    --destructive-foreground: 15 100% 91%;
    --border: 0 0% 87%;
    --input: 0 0% 97%;
    --ring: 150 67% 47%;
    --chart-1: 150 67% 47%;
    --chart-2: 141 48% 49%;
    --chart-3: 145 90% 94%;
    --chart-4: 163 24% 20%;
    --chart-5: 0 0% 95%;
    --sidebar-background: 0 0% 99%;
    --sidebar-foreground: 0 0% 21%;
    --sidebar-primary: 150 67% 47%;
    --sidebar-primary-foreground: 163 24% 20%;
    --sidebar-accent: 0 0% 95%;
    --sidebar-accent-foreground: 0 0% 24%;
    --sidebar-border: 0 0% 87%;
    --sidebar-ring: 150 67% 47%;
    --font-sans: "Outfit", sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow: 0px 1px 3px 0px rgba(0,0,0,0.17), 0px 1px 2px -1px rgba(0,0,0,0.17);
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 236 89% 95%;
    --card: 0 0% 21%;
    --card-foreground: 236 89% 95%;
    --popover: 0 0% 29%;
    --popover-foreground: 0 0% 72%;
    --primary: 141 48% 49%;
    --primary-foreground: 145 90% 94%;
    --secondary: 0 0% 29%;
    --secondary-foreground: 0 0% 99%;
    --muted: 0 0% 24%;
    --muted-foreground: 0 0% 72%;
    --accent: 0 0% 32%;
    --accent-foreground: 0 0% 99%;
    --destructive: 15 52% 34%;
    --destructive-foreground: 21 56% 80%;
    --border: 0 0% 27%;
    --input: 0 0% 29%;
    --ring: 141 48% 49%;
    --chart-1: 141 48% 49%;
    --chart-2: 150 67% 47%;
    --chart-3: 145 90% 94%;
    --chart-4: 163 24% 20%;
    --chart-5: 0 0% 95%;
    --sidebar-background: 0 0% 21%;
    --sidebar-foreground: 236 89% 95%;
    --sidebar-primary: 141 48% 49%;
    --sidebar-primary-foreground: 145 90% 94%;
    --sidebar-accent: 0 0% 32%;
    --sidebar-accent-foreground: 0 0% 99%;
    --sidebar-border: 0 0% 27%;
    --sidebar-ring: 141 48% 49%;
    --font-sans: "Outfit", sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow: 0px 1px 3px 0px rgba(0,0,0,0.17), 0px 1px 2px -1px rgba(0,0,0,0.17);
  }

  @theme inline {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));
    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));
    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));
    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));
    --color-sidebar: hsl(var(--sidebar-background));
    --color-sidebar-foreground: hsl(var(--sidebar-foreground));
    --color-sidebar-primary: hsl(var(--sidebar-primary));
    --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
    --color-sidebar-accent: hsl(var(--sidebar-accent));
    --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
    --color-sidebar-border: hsl(var(--sidebar-border));
    --color-sidebar-ring: hsl(var(--sidebar-ring));

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
