@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 236 67% 99%;
    --foreground: 241 21% 40%;
    --card: 0 0% 100%;
    --card-foreground: 241 21% 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 241 21% 40%;
    --primary: 159 64% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226 100% 97%;
    --secondary-foreground: 239 32% 49%;
    --muted: 234 100% 99%;
    --muted-foreground: 227 52% 70%;
    --accent: 145 100% 95%;
    --accent-foreground: 241 21% 40%;
    --destructive: 15 56% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 228 85% 94%;
    --input: 228 85% 94%;
    --ring: 159 64% 57%;
    --chart-1: 159 64% 57%;
    --chart-2: 175 63% 56%;
    --chart-3: 145 100% 95%;
    --chart-4: 227 52% 70%;
    --chart-5: 228 98% 85%;
    --sidebar-background: 226 100% 97%;
    --sidebar-foreground: 241 21% 40%;
    --sidebar-primary: 159 64% 57%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 145 100% 95%;
    --sidebar-accent-foreground: 241 21% 40%;
    --sidebar-border: 228 85% 94%;
    --sidebar-ring: 159 64% 57%;
    --font-sans: "DM Sans", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "IBM Plex Mono", monospace;
    --radius: 0.5rem;
    --shadow: 0px 4px 8px -1px rgba(0,0,0,0.10), 0px 1px 2px -2px rgba(0,0,0,0.10);
  }

  .dark {
    --background: 256 36% 21%;
    --foreground: 235 100% 93%;
    --card: 237 20% 35%;
    --card-foreground: 235 100% 93%;
    --popover: 237 20% 35%;
    --popover-foreground: 235 100% 93%;
    --primary: 175 63% 56%;
    --primary-foreground: 256 37% 21%;
    --secondary: 230 21% 37%;
    --secondary-foreground: 228 98% 85%;
    --muted: 248 32% 32%;
    --muted-foreground: 227 52% 70%;
    --accent: 241 21% 40%;
    --accent-foreground: 228 98% 85%;
    --destructive: 15 56% 63%;
    --destructive-foreground: 256 36% 21%;
    --border: 239 32% 49%;
    --input: 239 32% 49%;
    --ring: 175 63% 56%;
    --chart-1: 175 63% 56%;
    --chart-2: 159 64% 57%;
    --chart-3: 145 100% 95%;
    --chart-4: 227 52% 70%;
    --chart-5: 228 98% 85%;
    --sidebar-background: 237 20% 35%;
    --sidebar-foreground: 235 100% 93%;
    --sidebar-primary: 175 63% 56%;
    --sidebar-primary-foreground: 256 37% 21%;
    --sidebar-accent: 241 21% 40%;
    --sidebar-accent-foreground: 228 98% 85%;
    --sidebar-border: 239 32% 49%;
    --sidebar-ring: 175 63% 56%;
    --font-sans: "DM Sans", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "IBM Plex Mono", monospace;
    --radius: 0.5rem;
    --shadow: 0px 4px 8px -1px rgba(0,0,0,0.10), 0px 1px 2px -2px rgba(0,0,0,0.10);
  }

  @theme inline {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));
    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));
    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));
    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));
    --color-sidebar: hsl(var(--sidebar-background));
    --color-sidebar-foreground: hsl(var(--sidebar-foreground));
    --color-sidebar-primary: hsl(var(--sidebar-primary));
    --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
    --color-sidebar-accent: hsl(var(--sidebar-accent));
    --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
    --color-sidebar-border: hsl(var(--sidebar-border));
    --color-sidebar-ring: hsl(var(--sidebar-ring));

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
